@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-game-bg text-game-text font-game p-0 m-0 overflow-x-hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}